.landing-page-container {
  background-color: rgba(26, 5, 5, 0.904);
  min-height: 100vh;
  min-width: 100wh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.landing-page-title {
  margin: 50px 20px;
}

.subtitles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  padding: 50px;
}

.subtitles-title {
  margin: 10px;
}

.subtitles-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.subtitles-container div p {
  padding: 5px 20px;
}

.subtitles-container div p span {
  font-weight: 700;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 20px 0 20px;
}

@media only screen and ( min-width : 768px ) {

  .subtitles-container {
    font-size: 1em;
  }
}
